spring:
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://47.101.193.214:3306/bw?characterEncoding=utf8
    username: root
    password: JY_bytoy@0419
    #最大活跃数
    maxActive: 20
    #初始化数量
    initialSize: 1
    #最大连接等待超时时间
    maxWait: 60000
    #打开PSCache，并且指定每个连接PSCache的大小
    poolPreparedStatements: true
    maxPoolPreparedStatementPerConnectionSize: 20
    #通过connectionProperties属性来打开mergeSql功能；慢SQL记录
    #connectionProperties: druid.stat.mergeSql=true;druid.stat.slowSqlMillis=5000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 1 from dual
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    #配置监控统计拦截的filters，去掉后监控界面sql将无法统计,'wall'用于防火墙
    filters: stat, wall, log4j
  jpa:
    properties:
      hibernate:
        show_sql: false
        format_sql: false
        ddl-auto: update
  redis:
    host: 47.101.193.214
    port: 6379
    password: baiwan
    pool:
      max-idle: 20
      min-ile: 1
      max-active: 20
      max-wait: 60000
    database: 0
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  #屏蔽某个包下面的日志输出
  logging:
    level:
    #报名 例如：com.framework.controller:"off"
  http:
    multipart:
      enabled: true
      max-file-size: 60mb
      max-request-size: 60mb